In [1]:
import pandas as pd

In [2]:
file = "data\Historical Data_Site1.csv"
df = pd.read_csv(file)

<>:1: SyntaxWarning: invalid escape sequence '\H'
<>:1: SyntaxWarning: invalid escape sequence '\H'
C:\Users\acer\AppData\Local\Temp\ipykernel_16896\20759451.py:1: SyntaxWarning: invalid escape sequence '\H'
  file = "data\Historical Data_Site1.csv"

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1126 entries, 0 to 1125
Data columns (total 8 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Total Solar Generation    1126 non-null   float64
 1   Date                      1126 non-null   object
 2   weather_code (wmo code)   1126 non-null   int64
 3   temperature_2m_max (°C)   1126 non-null   float64
 4   temperature_2m_min (°C)   1126 non-null   float64
 5   temperature_2m_mean (°C)  1126 non-null   float64
 6   sunshine_duration (s)     1126 non-null   float64
 7   rain_sum (mm)             1126 non-null   float64
dtypes: float64(6), int64(1), object(1)
memory usage: 70.5+ KB

In [4]:
df.head()

,Total Solar Generation,Date,weather_code (wmo code),temperature_2m_max (°C),temperature_2m_min (°C),temperature_2m_mean (°C),sunshine_duration (s),rain_sum (mm)
0,646.573,12/1/2020,0,23.4,11.3,17.1,35001.81,0.0
1,655.253,12/2/2020,0,22.9,12.0,17.1,34955.89,0.0
2,567.440,12/3/2020,0,21.8,12.0,16.8,34911.80,0.0
3,565.205,12/4/2020,51,21.1,12.1,17.0,34669.88,0.1
4,561.015,12/5/2020,51,20.6,11.8,16.4,34829.31,0.9